#add-container {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  grid-gap: 10px;
  height: 100%;
}

#btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spin {
  animation: add-view-spin 1s linear infinite;
  margin-right: 4px;
  vertical-align: middle;
}

@keyframes add-view-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
